/1.bmp
/2.bmp
/3.bmp
/4.bmp
/5.bmp
/6.bmp
/Laje.exe
/message.exe
/out.exe
2-2.bmp
4-2.bmp
6-2.bmp
a.txt
b.txt
galo.txt
primorati.exe
saida.exe
saida.txt
teclajes_new.exe
teclajes.exe
text1.txt
text2.txt
text3.txt
text4.txt
